 .categories{
    border: 3px solid rgb(255, 196, 0);
    height: 30px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
   
}
 .GORIES{
    width: 150px;
    margin: 2px;
} 