 .img{
    width: 150px;
    height: 160px;
    border-radius: 10px;
    margin: 10px;
}
 .plan{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

 /* .monst{
    border: 3px solid rgb(142, 6, 142); 
    
} */
.bleu{
    color: rgb(0, 162, 255);
    font-size: 10px;
   
   
}
.jaune{
    color: rgb(255, 162, 0);
    font-size: 10px;
} 
.jouter{
    width: 100px;
}